.contact {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.h1 {
  grid-column: 1/-1;
  margin: 0;
}

.contactForm {
  grid-column: 1/-1;
  margin: 1rem;
}

input {
  margin: 0.5rem;
}

.contactDisplay {
  grid-column: 1/-1;
  margin: 1rem;
}

.contactView {
  visibility: hidden;
  grid-column: 1/-1;
  margin: 5rem auto;
  height: 40rem;
  width: 40rem;
  /* border: 1px solid red; */
}

.activeView {
  visibility: visible;
  color: rgb(241, 241, 241);
  text-shadow: 0.2rem 0.2rem rgb(0, 0, 0);
}

.contactViewClose {
  position: fixed;
  left: 55%;
  top: 55%;
  border: none;
  font-size: 2rem;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(51, 50, 50);
}

.contactViewBtn {
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin: 0.5rem;
}

.contactBtn {
  margin: 1rem;
}

.editContact {
  background-color: rgb(195, 146, 146);
}
