/* Header section  */
.header {
  grid-column: 1/-1;
  /* font-family: "Shadows Into Light", cursive; */
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  letter-spacing: 3px;
  background: linear-gradient(#000, #fff);
}

#header {
  letter-spacing: 10px;
}

/* Navigation Section  */

.nav {
  grid-column: 1/-1;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
}

/* single a links  */

.nav__item {
  color: rgb(37, 37, 37);
  text-decoration: none;
  position: relative;
  filter: drop-shadow(3px 2px 3px);
  border-radius: 50%;
}

.nav__item:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 25px;
  left: 35px;
  background-color: #000;
  width: 0%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav__item:hover:before {
  visibility: visible;
  width: 100%;
  height: 2px;
  left: 0;
}
