.randImg {
  height: 40rem;
  width: 50rem;
  margin: 5rem;
}

.topText {
  transform: translateY(-47rem);
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem #fff;
}

.btmText {
  transform: translateY(-22rem);
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem #fff;
}
