.imgContainer {
  max-width: 100rem;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.myslides {
  display: none;
  height: 50rem;
  width: 60rem;
}

/* slide animation  */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* class added to myslides to display img  */
.activeImg {
  display: block;
  margin-bottom: 2.5rem;
}

img {
  vertical-align: middle;
  height: 50rem;
  width: 60rem;
}

/* prev and next arrows  */
.prev,
.next {
  cursor: pointer;
  height: 4rem;
  position: absolute;
  top: 24.3rem;
  width: 2.5rem;
  transition: 0.5s ease-in-out;
}

.next {
  left: 77%;
}

.prev {
  left: 20.5%;
}

.prev:hover,
.next:hover {
  background-color: black;
}

/* Img indicators  */
.lines {
  display: inline-flex;
  /* flex-direction: row; */
}

.indicator {
  transform: rotate(90deg);
  color: white;
  border: 0.1rem solid white;
  margin: 0 1.5rem;
  display: grid;
  height: 2rem;
  width: 0.3rem;
  position: relative;
  top: -5rem;
  border-radius: 50%;
}

.fill {
  background-color: rgb(238, 223, 223);
}
