.imgContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

.myslides {
  display: none;
  height: 500px;
  width: 600px;
}

/* slide animation  */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* class added to myslides to display img  */
.active {
  display: block;
  margin-bottom: 25px;
}

img {
  vertical-align: middle;
  height: 500px;
  width: 600px;
}

/* prev and next arrows  */
.prev,
.next {
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 243px;
  width: 25px;
  transition: 0.5s ease-in-out;
}

.next {
  left: 77%;
}

.prev {
  left: 20.5%;
}

.prev:hover,
.next:hover {
  background-color: black;
}

/* Img indicators  */
.lines {
  display: inline-flex;
  /* flex-direction: row; */
}

.indicator {
  transform: rotate(90deg);
  color: white;
  border: 1px solid white;
  margin: 0 15px;
  display: grid;
  height: 20px;
  width: 3px;
  position: relative;
  top: -50px;
  border-radius: 50%;
}

.fill {
  background-color: rgb(238, 223, 223);
}
