.todoItem {
  transition: all 0.3s ease-in-out;
}

.btnTodo {
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem);
}

.btnTodo:active {
  transform: translateY(0.2rem);
  border: none;
  /* font-size: 20px; */
}
