.todoItem {
  transition: all 0.3s ease-in-out;
}

.btnTodo {
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px);
}

.btnTodo:active {
  transform: translateY(2px);
  border: none;
  /* font-size: 20px; */
}
