@import "./css/header.css";
@import "./css/randomMeme.css";
@import "./css/contact.css";
@import "./css/slideShow.css";
@import "./css/timer.css";

/* fonts  */
/* font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */
/* $bodyFont: "Roboto", sans-serif;
$headerFont: "Shadows Into Light", cursive; */

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

.main {
  grid-column: 1/-1;
  /* border: 1px solid black; */
}

/* sections */
.section {
  background: linear-gradient(#fff, #000);
  height: 100vh;
}
