@import "./css/header.css";
@import "./css/randomMeme.css";
@import "./css/contact.css";
@import "./css/slideShow.css";
@import "./css/timer.css";
@import "./css/todo.css";
@import "./css/home.css";

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

.main {
  grid-column: 1/-1;
}

/* sections */
.section {
  background: linear-gradient(#fff, #000);
  height: 100vh;
  margin-top: 50px;
  position: relative;
}

.pageHeading:before {
  content: "";
  display: inline-block;
  width: 32%;
  position: absolute;
  top: 35px;
  left: 34%;
  height: 2px;
  background-color: #000;
}

.description {
  grid-column: 2/3;
}
